<li class="{{if todo.isCompleted 'completed'}}">
    {{#if isEditing}}
        <input class="edit">
    {{else}}
        {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
        <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label><button class="destroy"></button>
    {{/if}}
</li>
